{% extends "base.html" %}

{% block content %}
  <div class="col-lg-9">
  {% block left %}
      {% for thread in threads %}
        <div class="row">
          <a href="{{ thread.link }}" class="listing-title">
            <h4>{{ thread.title }}</h4>
          </a>

          <div class="post-listing-meta">
          <a href="{{ config.ROOT_URL }}/threads/{{ thread.id }}">
              {{ thread.comments.all()|length() }} comments</a>.

          Posted {{ thread.pretty_date() }}, by <a href="{{ config.ROOT_URL }}/users/{{ thread.user.username }}">
              {{ thread.user.username }}</a>
          </div>
          </a>
        </div>
      {% endfor %}
  {% endblock %}
  </div>

  <div class="col-lg-3">
  {% block right %}
    {% if user is defined and user != None %}
        <a href="{{ config.ROOT_URL }}/threads/submit"><button class="btn btn-primary">
                Submit a post</button></a>
    {% endif %}
    <br>
    <hr>
    <h3>List of subreddits</h3>
    <ul>
        <li></li>
        <li></li>
    </ul>
  {% endblock %}
  </div>
{% endblock %}
