{% extends "base.html" %}

{% block content %}
<div class="col-lg-9 col-md-9 col-sm-7 col-xs-5 left-bar">
  {% block left %}
      {% for thread in threads %}
        <div class="row listing-row">
          <div class="col-lg-1 listing-vote-box">  
              <div class="listing-vote-box">
                  <a href="javascript:void(0)" class="listing-vote-button">▲</a>
              </div>
              <div class="listing-votes-number">
                  1
              </div>
          </div>
          <div class="col-lg-9 listing-text">  
              {% if thread.link %}
              <a href="{{ thread.link }}" class="listing-title">
              {% else %}
              <a href="{{ config.ROOT_URL }}/threads/{{ thread.id }}/{{ thread.title|truncate(100)|replace(' ', '_') }}" class="listing-title">
              {% endif %}
                <h4>{{ thread.title }}</h4>
              </a>

              <div class="post-listing-meta">
                  <a href="{{ config.ROOT_URL }}/threads/{{ thread.id }}/{{ thread.title|truncate(100)|replace(' ', '_') }}">
                  {{ thread.comments.all()|length() }} comments</a>,
                  {{ thread.pretty_date() }}, by 
                  <a href="{{ url_for('users.home_page', 
                        username=thread.user.username) }}">
                  {{ thread.user.username }}</a>
              </div>
          </div>
        </div>
      {% endfor %}

      <ul class="pager pull-left">
        <li><a href="?page=prev">prev</a></li>
        <li><a href="?page=next">next</a></li>
      </ul>
  {% endblock %}
</div>

<div class="col-lg-3 right-bar">
  {% block right %}
    {% if user is defined and user != None %}

    {% else %}
        <h4 class="pre-reg-info">Please register or login to post!</h4>
    {% endif %}
    <div class="row">
        <a href="{{ config.ROOT_URL }}/threads/submit"><button class="btn btn-primary submit-post-button">
                Submit a post</button></a>
        </div>
        <div class="row">
        <a href=""><button type="button" class="btn btn-primary 
                inverse-white-button add-subreddit-button"></a> Create Community +</button>
    </div>

    <ul id="subreddit-list">
        <li><a href="/r/funny">funny</a></li>
        <li><a href="/r/news">news</a></li>
    </ul>
    <a href-"#">view all</a>
  {% endblock %}
</div>

{% endblock %}

