{% extends "base.html" %}

{% block content %}
  <div class="row">
  <div class="col-lg-6" style="float: none; margin: 20px auto;">
  {% from "macros.html" import render_field %}
  <form method="POST" action="." class="form bs-example form-horizontal">
    {{ form.csrf_token }}
    <input type="hidden" name="next" value="{{ next }}" />
    {{ render_field(form.username, class="form-control", placeholder="username", autofocus="") }}
    <br>
    {{ render_field(form.email, class="form-control", placeholder="email") }}
    <br>
    {{ render_field(form.password, class="form-control", placeholder="password") }}
    <br>
    {{ render_field(form.confirm, class="form-control", placeholder="confirm password") }}
    <br>
    Check to agree to <a href="">terms of services</a> 
        {{ render_field(form.accept_tos, class="form-control") }}
    <label>ReCaptcha</label>
    {% for error in form.recaptcha.errors %}
        {{ error }}
    {% endfor %}
    {{ form.recaptcha }}
    <br>
    <button type="submit" value="Register" class="btn btn-primary">Register</button>
  </form>
  </div>
  </div>
{% endblock %}
