{% extends "home.html" %}

{% block left %}
<div>
    <a href="{{ thread.link }}"><h2 class="listing-title">{{ thread.title }}</h2></a>
    updated {{ thread.pretty_date('updated') }}, created {{ thread.pretty_date('created') }},
    by <a href="{{ url_for('users.home_page', username=thread.user.username) }}">
        {{ thread.user.username }}.</a>
    <hr>
    <p>{{ thread.text }}</p>
</div>

<div>
    <div class="col-lg-6 thread-comment-section">
        {% if user is defined and user != None %}
        <h5>Submit a comment:</h5>
        <div class="comment-form-parent">
            <textarea class="form-control thread-comment-box" 
                name="comment" placeholder=""></textarea>       
            <button class="btn btn-sm btn-primary submit-comment main-submit">
                    Submit</button>
        </div>
        {% else %}
        <br>
        <i>
        <a href="{{ url_for('frontends.login') }}">Login</a> or 
        <a href="{{ url_for('frontends.register') }}">register</a> to comment!
        </i>
        {% endif %}
    </div>
</div>

<div class="row"></div>
<br>
<div>
    <h4>Comments section</h4>
    <hr>
</div>

<div class="row comments-tree">
    {% for comment in thread.comments.all() %}
    <div class="row comments-element" name="{{ comment.id }}"> 
        <p class="comment-body">{{ comment.text }}</p>
        <div class="post-listing-meta">
            by: <a href="{{ url_for('users.home_page', username=comment.user.username) }}">
                {{ comment.user.username }}</a> {{ comment.pretty_date() }} <a href="">reply</a>
        </div>
        <button style="display:none;" class="btn btn-sm btn-primary submit-comment">
                Submit</button>
    </div>
    {% endfor %}
</div>

<hr>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
window.onload = (function() {
    $(document).ready(function() {
        $('button.submit-comment').click(function() {
            // We will submit user id data via session.
            // Don't need to include parent comment because we are commenting 
            // on a thread, not a comment!
            var parent_id = "";
            var not_nested =  $(this).hasClass('main-submit').toString();
            // the logic is funky because we are using string booleans...
            if (not_nested == 'false') {
                // it is nested 
                parent_id = $(this).parent('div.comments-element').attr('name');
            } else {
                // it isn't nested
            }
            var thread_id = "{{ thread.id }}";
            var comment_text = $(this).parent('div.comment-form-parent').children(
                'textarea.thread-comment-box').val();
            var post_to = '/apis/comments/submit/';
            {% if user is defined and user != None %}
                $.post(post_to, { 
                    parent_id: parent_id, // empty if top-level (none)
                    thread_id: thread_id, 
                    comment_text: comment_text },
                    function(response) {
                        $('div.comments-tree').prepend(
                            '<div class="row comments-element" name="'+ response.comment_id +'">' +
                            '<p class="comment-body">' + response.comment_text + '</p>' + 
                            '<div class="post-listing-meta">' + 
                            'by: <a href="{{ config.ROOT_URL }}/users/{{ user.username }}/">' +
                            '{{ user.username }}</a>' + 
                            ' ' + response.date + ' <a href="">reply</a>' +
                            '</div>'
                        );
                    }, 'json'
                )              
            {% else %}
                alert("You must be logged in to do that!");
            {% endif %}
        });
    });
});
</script>
{% endblock %}
