{% extends "home.html" %}

{% block left %}
  <div class="">
  <h2 class="thread-submit-title">Posts are vital, thank you for submitting!</h2>
  <br>
  <div class="col-lg-10 thread-submit-box">
  {% from "macros.html" import render_field %}
  <form method="POST" action="." class="form bs-example form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.title, class="form-control", placeholder="title", autofocus="") }}
    <br>
    {{ render_field(form.link, class="form-control", placeholder="link") }}
    <br>
    {{ render_field(form.text, class="form-control", placeholder="body text", style="height: 150px;") }}
    <br>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
  </div> 
{% endblock %}

