{% extends "home.html" %}

{% block left %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-9 user-profile-box">
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <h4>{{ current_user.username }}</h4>
                    <p>Threads posted -- {{ current_user.threads.all()|length() }} | 
                    Comments posted -- {{ current_user.comments.all()|length() }} | 
                    Thread Karma -- <br> Comment Karma -- </p>
                    <!--<small><cite title="San Francisco, USA">San Francisco, USA 
                        <i class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    -->
                    <p>
                    <i class="glyphicon glyphicon-envelope"></i>&emsp;{{ current_user.email }}
                    <br>

                    <h3>Recently created threads</h3>
                    <br>
                    {% for thread in current_user.threads.all()[-7:]|reverse  %}
                        <p>
                            <a href="{{ thread.link }}">{{ thread.title }}</a>, posted 
                            <a href="{{ config.ROOT_URL }}/threads/{{ thread.subreddit.name }}/{{ thread.id }}/{{ thread.title|truncate(100)|replace(' ', '_') }}">
                                {{ thread.pretty_date() }}</a>
                        </p>
                    {% endfor %}
                        <p>see more ...</p>

                    <h3>Recently created comments</h3>
                    <br>
                    {% for comment in current_user.comments.all()[-7:]|reverse %}
                        <p>
                        <i>{{ comment.text }}</i>, posted 
                        <a href="{{ config.ROOT_URL }}/threads/{{ comment.thread.subreddit.name }}/{{ comment.thread.id }}/{{ comment.thread.title|truncate(100)|replace(' ', '_') }}">{{ comment.pretty_date() }}</a>
                        </p>
                    {% endfor %}
                        <p>see more ...</p>
                    <br>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block create_buttons %}

{% endblock %}
