{% extends "home.html" %}

{% block left %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-9 user-profile-box">
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <h4>User: <u>{{ current_user.username }}</u></h4>
                    <p class="trophy-room">
                    Thread Karma -- <span class="red">{{ current_user.get_thread_karma() }}</span><br>
                    Threads posted -- <span class="red">{{ current_user.threads.all()|length() }}</span><br> 
                    Comment Karma -- <span class="red">{{ current_user.get_comment_karma() }}</span><br>
                    Comments posted -- <span class="red">{{ current_user.comments.all()|length() }}</span><br> 
                    </p>
                    <i class="glyphicon glyphicon-envelope"></i>&emsp;{{ current_user.email }}
                    <br>

                    <h4 class="profile-label">Recently created threads</h4>
                    {% for thread in current_user.threads.all()[-7:]|reverse  %}
                        <p>
                            <a href="{{ thread.link }}">{{ thread.title }}</a>, posted 
                            <a href="{{ config.ROOT_URL }}/threads/{{ thread.subreddit.name }}/{{ thread.id }}/{{ thread.title|truncate(100)|replace(' ', '_') }}">
                                {{ thread.pretty_date() }}</a>
                        </p>
                    {% endfor %}
                        <p>see more ...</p>

                    <h4 class="profile-label">Recently created comments</h4>
                    {% for comment in current_user.comments.all()[-7:]|reverse %}
                        <p>
                        <i>{{ comment.text }}</i>, posted 
                        <a href="{{ config.ROOT_URL }}/threads/{{ comment.thread.subreddit.name }}/{{ comment.thread.id }}/{{ comment.thread.title|truncate(100)|replace(' ', '_') }}">{{ comment.pretty_date() }}</a>
                        </p>
                    {% endfor %}
                        <p>see more ...</p>
                    <br>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block create_buttons %}

{% endblock %}
