{% extends "home.html" %}

{% block left %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" 
                            class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ current_user.username }}</h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA 
                            <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                        <i class="glyphicon glyphicon-envelope"></i>{{ current_user.email }}
                            <br />
                            <i class="glyphicon glyphicon-globe"></i>
                                <a href=""></a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>

                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" 
                                data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">
                                    Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
